// Import page-specific CSS files here.
@import "home";
@import "banner";
@import "homecard";
@import "banner-price";

.project-content {
  border-bottom: solid;
  border-color: white;
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
}

.ao-count {
  border-bottom: solid;
  border-color: white;
  margin-top: 10px;
}

.ao-search {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  background: white;
  opacity: 0.8;
  border-radius: 15px;
}

.btn-from-search {
  border-radius: 15px;
}

.project-description {
  font-size: 12px;
  font-style: italic;
}

.project-info {
  span {
    font-size: 12px;
    font-weight: bold;
  }
  p {
    font-size: 12px;
  }
}

button {
  font-size: 10px !important;
}

.more-information {
  font-size: 12px;
}

.sort-expiration {
  font-size: 14px;
  background: white;
  border-radius: 10px;
  margin-bottom: 10px;
  .sort-link {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.favori-title {
  background: white;
  border-radius: 15px;
  padding: 10px;
}

