
<p>Bonjour,</p>

<p>FondaBase a trouvé pour vous un nouvel appel à projet :</p>
<%= link_to @project.title, project_url(@project)  %>
<p><%= @project.description %></p>
<p><%= @project.fondation.title %></p>
