<div class="wrapper-price">
  <div class="container text-center">
    <h2>Un seul tarif</h2>
    <h2>pour un accès illimité et sans restriction pendant un an</h2>
    <h2>200€ HT / an</h2>
    <%= link_to "Je m'abonne", projects_path, class: "btn btn-primary btn-lg btn-banner btn-subscription" %>
  </div>
</div>
