<div class="wrapper-homecard">
  <div class="container">
    <div class="row homecard text-center">
      <div class="col-xs-12 col-md-3">
        <i class="fa fa-university fa-4x text-center" aria-hidden="true"></i>
        <h2>Trouvez tous les financements</h2>
        <p>Trouvez simplement tous les financements et appels à projets parmi 2000 fondations</p>
      </div>
      <div class="col-xs-12 col-md-3">
        <i class="fa fa-sort-amount-asc fa-4x" aria-hidden="true"></i>
        <h2>Filtrez selon vos critères de choix</h2>
        <p>par catégorie, par éligibilité, selon la date limite...</p>
      </div>
      <div class="col-xs-12 col-md-3">
        <i class="fa fa-floppy-o fa-4x" aria-hidden="true"></i>
        <h2>Enregistrez vos appels à projets</h2>
        <p>Retrouvez facilement les appels à projets qui vous intéresse</p>
      </div>
      <div class="col-xs-12 col-md-3">
        <i class="fa fa-angle-double-right fa-4x" aria-hidden="true"></i>
        <h2>Accès facilité pour déposer son dossier</h2>
        <p>Un lien qui vous ammène directement à l'appel à projets</p>
      </div>
    </div>
  </div>
</div>
