<div class="container">
  <% @projects.each do |project| %>
    <h2><%= project.title %></h2>
    <p><%= project.description %></p>
    <p><%= project.link %></p>
    <p><%= project.expiration %></p>
  <% end %>
</div>
