// Checkboxes design
.eligible-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.eligible-choice {
  background: #b7b7b7;
  padding: 13px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 20%;
  text-align: center;
  font-size: 12px !important;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: $brand-primary;
  color: white;
  opacity: 1;
  }
}
